/* Limpando as formatações padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Especificando a fonte padrão de todo o meu conteúdo */
body, button, input, textarea, select {
    font-family: 'Heebo', sans-serif;
}

body {
    background-color: #f7f8f7;
}

/* Navbar */
header {
    background-color: white;
    height: 5rem;
}

header #navbar {
    display: flex;
    justify-content: space-between; /* alinhar horizontalmente */
    align-items: center; /* alinhar verticalmente */
    padding: 0 2rem; /* ! 1rem = 16px */
    max-width: 75rem; /* Definir a largura máxima da navbar */
    margin: 0 auto; /* centralizar a navbar */
    height: 5rem;
}

header #navbar .nav-brand {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
}

header #navbar .nav-list {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;
}

header #navbar .nav-list .nav-item a {
    text-decoration: none;
    color: #333;
    font-size: 1rem;
    font-weight: 400;
}

header #navbar .nav-list .nav-item a:hover {
    color: #555;
    transition: color 0.3s;
} 